<mat-card class="container-fluid">
  <nav class="navbar-light">
      <!-- <i class="fas fa-bars"></i> -->
    <ul class="nav justify-content-end">

      <li >
        <a href="#" class="nav-link">
            <i class="far fa-envelope fa-lg" matBadge="12" matBadgeColor="primary"></i>
        </a>
      </li>
      <li >
        <a href="#" class="nav-link">
            <i matBadge="5" matBadgeColor="accent" class="far fa-bell fa-lg"></i>
        </a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Nicolae Cecan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text" mat-menu-item>Link 1</a>
          <a class="dropdown-item text" mat-menu-item>Link 2</a>
        </div>
      </li>
    </ul>
  </nav>
</mat-card>
