<!-- <div class="backround">
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color: #001a33;">
      <div class="box">40x40</div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
                <i class="fas fa-bars"></i>
          </button>
        <app-nav></app-nav>
        <app-dashboard></app-dashboard>
    </div>
  </mat-drawer-container>
</div> -->

<app-nav></app-nav>
<app-dashboard></app-dashboard>

