<!-- Cases -->

<div class="background container-fluid">
  <h4>Cases</h4>
  <mat-card class=" d-flex col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <p class="text"> Completed Cases over the past 7 days</p>
  </mat-card>

  <div class="text-right">
    <i class="fas fa-minus"></i>
  </div>

  <mat-divider class="divider align-center"></mat-divider>

  <div class="row justify-content-center p-2">

    <div class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-4 col-one-half-lg-down fade-in-up text-white">
      <div class="p-2 cardItem w-100 h-100">Benefits Verification</div>
      <span class="p-2 cardItem1 d-flex align-items-center">14</span>
    </div>

    <div class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-4 col-one-half-lg-down fade-in-up text-white">
      <div class="p-2 cardItem w-100 h-100">Prior Authorization</div>
      <span class="p-2 cardItem1 d-flex align-items-center">14</span>
    </div>

    <div class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-4 col-one-half-lg-down fade-in-up text-white">
      <div class="p-2 cardItem w-100 h-100">Prescription Referral</div>
      <span class="p-2 cardItem1 d-flex align-items-center">14</span>
    </div>

    <div class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-4 col-one-half-lg-down fade-in-up text-white">
      <span class="p-2 cardItem w-100 h-100 align-text-middle">Pap</span>
      <span class="p-2 cardItem1 d-flex align-items-center">14</span>
    </div>

    <div class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-4 col-one-half-lg-down fade-in-up text-white">
      <span class="p-2 cardItem w-100 h-100 align-text-middle">Copay</span>
      <span class="p-2 cardItem1 d-flex align-items-center">14</span>
    </div>

  </div>

  <mat-card class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <p class="text"> Current Cases</p>
  </mat-card>

  <div class="text-right">
    <i class="fas fa-minus"></i>
  </div>
  <mat-divider class="divider align-center"></mat-divider>

  <!-- Filter Options -->
  <mat-card class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 mt-3">
    <p class="text"> Filter Options</p>
  </mat-card>

  <div class="text-right">
    <i class="fas fa-plus"></i>
  </div>
  <mat-divider class="divider align-center"></mat-divider>

  <!-- Service Types  -->
  <mat-card class="my-3 pl-3">
    <div class="row justify-content-center p-2">
      <p class="text font-weight-bold"> Service Types: </p>

      <div class="d-flex col-sm-6 col-md-4 col-lg-3 col-xl mb-4">
        <div class="services mx-2" style="background-color: green; height: 25px; width: 50px"></div>
        <span class="text-nowrap">Benefits Verification</span>
      </div>

      <div class="d-flex col-sm-6 col-md-4 col-lg-3 col-xl mb-4">
        <div class="services mx-2" style="background-color: orange; height: 25px; width: 50px"></div>
        <span class="text-nowrap">Prior Authorization</span>
      </div>

      <div class="d-flex col-sm-6 col-md-4 col-lg-3 col-xl mb-4">
        <div class="services mx-2" style="background-color: rgb(159, 84, 209); height: 25px; width: 50px"></div>
        <span class="text-nowrap">Prescription Referral</span>
      </div>

      <div class="d-flex col-sm-6 col-md-4 col-lg-3 col-xl mb-4">
        <div class="services mx-2" style="background-color: rgb(95, 180, 230); height: 25px; width: 50px"></div>
        <span class="text-nowrap">Pap</span>
      </div>

      <div class="d-flex col-sm-6 col-md-4 col-lg-3 col-xl mb-4">
        <div class="services mx-2" style="background-color:rgb(34, 4, 82); width: 5px; height: 2px; height: 25px; width: 50px"></div>
        <span class="text-nowrap">Copay</span>
      </div>

    </div>
  </mat-card>

  <mat-card class="w-50 m-auto py-4">

    <div class="row justify-content-center p-2">
      <p class="text font-weight-bold pl-4"> Status Key </p>
      <div class="d-flex col-xs-12 col-sm-6 col-md col-lg">
        <div><i class="fas fa-play-circle fa-lg mx-2" style="color: green"></i></div>
        <span class="text-nowrap">Completed</span>
      </div>

      <div class="d-flex col-xs-12 col-sm-6 col-md col-lg">
        <div><i class="fas fa-circle fa-lg mx-2" style="color: blue"></i></div>
        <span class="text-nowrap">In Progress</span>
      </div>

      <div class="d-flex col-xs-12 col-sm-6 col-md col-lg">
        <div><i class="fas fa-chevron-circle-up fa-lg mx-2" style="color: red"></i></div>
        <span class="text-nowrap">Need Attention</span>
      </div>

    </div>

  </mat-card>

<!-- Patients -->
  <div class="mt-3">

    <mat-card class="my-3 mx-auto w-75" *ngFor="let patient of patientData">
      <div class="row  p-2">

        <div class="d-flex m-2">
          <i *ngIf="patient.service == 'CoPay'" class="fas fa-chevron-circle-up mx-2 fa-lg" style="color: red"></i>
          <i *ngIf="patient.service == 'BV'" class="fas fa-circle fa-lg mx-2" style="color: blue"></i>
          <i *ngIf="patient.service == 'PA'" class="fas fa-play-circle fa-lg mx-2" style="color: green"></i>
        </div>

        <div class="d-flex col-sm-6 col-md-4 col-lg col-xl">
          <a href="#"><span class="text-nowrap text-center">{{patient.name}}</span></a>
        </div>

        <div class="d-flex col-sm-6 col-md-4 col-lg col-xl">
          <span class="text-nowrap">Patient ID: {{patient.patientID}}</span>
        </div>

        <div class="d-flex col-sm-6 col-md-4 col-lg ol-xl">
          <span class="text-nowrap">Date of Birth: {{patient.dob}}</span>
        </div>

        <div class="d-flex col-sm-6 col-md-4 col-lg col-xl">
          <span class="text-nowrap">Service ID: {{patient.serviceID}}</span>
        </div>

        <div class="d-flex col-sm-6 col-md-4 col-lg-4 col-xl w-100" >
          <span *ngIf="patient.service == 'CoPay'" class="text-nowrap text-white w-100 text-center" style="background-color: rgb(159, 84, 209)">CoPay</span>
          <span *ngIf="patient.service == 'BV'" class="text-nowrap text-white w-100 text-center" style="background-color: green">Benefits
            Verification</span>
          <span *ngIf="patient.service == 'PA'" class="text-nowrap text-white w-100 text-center" style="background-color: orange">Prior
            Authorization</span>
        </div>

      </div>
    </mat-card>
  </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation example" class="pb-5">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
