.background {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt-e5mqTOsMgCuU0O4KGt81jC-bWKqwiEFzYUbItYfHx-MSvdNSQ');
}

h4 {
  margin-left: 30px;
}

.card {
  margin-left: 60px;
}

.cardItem {
  background-color: #8E228B;
}

.cardItem1 {
  background-color: rgba(206, 69, 206, 0.4);
}

.divider {
  background-color: black;
  height: 3px;
  // margin-top: 3px;
}

mat-card {
  padding: 5px;
}

.table {
  margin: 0 15px;
}
